@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #D5D3D3;
  transition: all 1s ease-in-out;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h1 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid #752626;
  width: 100%;
  padding: 1rem;
  padding-top: 4rem;
}

h2 {
  font-weight: 200;
}

dt {
  color: #008F88;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  margin: 1rem 0 0.5rem;
}

dd {
  margin-bottom: 1rem;
}

main {
  background-color: #131C25;
  color: #D5D3D3;
}

hr {
  opacity: 0.4;
  width: 80%;
  margin: 3rem auto 2rem;
}

iframe {
  display: block;
  width: 90%;
  height: 75vh;
  margin: 0 auto;
  border: none !important;
}

.color-main {
  color: #131C25;
}

.color-support {
  color: #752626;
}

.color-alt1 {
  color: #008F88;
}

.color-alt2 {
  color: #D5D3D3;
}

.top-nav {
  align-items: right;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100%;
}

.dnd-links {
  background-color: #752626;
  position: fixed;
  top: 0;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
}
.dnd-links .active {
  background-color: #131C25;
}
.dnd-links li a {
  align-items: center;
  width: fit-content;
  text-decoration: none;
  padding: 1.2rem;
  margin: 0;
  color: #D5D3D3;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  max-width: 100px;
  text-transform: uppercase;
}

.music-player {
  align-items: center;
  display: flex;
  background-color: #131C25;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  z-index: 1000;
}
.music-player h5 {
  color: #008F88;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  vertical-align: middle;
}
.music-player audio {
  width: 50%;
  text-align: center;
}

.container {
  margin: 1rem auto;
  width: 90%;
  display: block;
  min-height: 100vh;
  margin-bottom: 8rem;
}

/* STORY */
.story .detail-accordion {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.story .detail-accordion::after {
  display: block;
  margin-top: 1rem;
}
.story p {
  padding-bottom: 1rem;
}

.campaign-checklist {
  margin-top: 1em;
}
.campaign-checklist .checked {
  text-decoration: line-through;
}
.campaign-checklist label {
  display: block;
  padding: 0.3rem;
}
.campaign-checklist label input[type=checkbox] {
  appearance: none;
  background-color: transparent;
  margin: 0 1rem 0 0;
  color: #008F88;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #752626;
  border-radius: 0;
  vertical-align: middle;
  place-content: center;
}
.campaign-checklist label input[type=checkbox]:checked {
  background-color: #752626;
}

.sessions h2 {
  margin-top: 1rem;
}
.sessions h3 {
  font-family: "Roboto Slab", serif;
  margin: 1rem 0;
}
.sessions h4 {
  text-transform: uppercase;
}
.sessions p {
  line-height: 1.6;
  letter-spacing: 0.02rem;
}
.sessions .session-notes {
  background-color: rgba(0, 143, 136, 0.1);
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
}
.sessions .setting-notes {
  background-color: rgba(117, 38, 38, 0.3);
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
}

/* PLAYERS */
.character {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 5% 10%;
  grid-template-areas: "image char-info" "button button" "details details";
  padding: 4rem 0 3rem;
  border-bottom: solid #752626 0.2rem;
}
.character img {
  grid-area: image;
  background-color: rgba(0, 0, 0, 0.5);
}
.character .fullscreen-image {
  cursor: pointer;
}
.character .fullscreen-image.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9999;
}
.character .char-info {
  grid-area: char-info;
  display: grid;
  grid-template-columns: 70% 20%;
  grid-gap: 10%;
  grid-template-areas: "title perception" "traits perception";
}
.character .char-info .char-title {
  grid-area: title;
  justify-content: space-between;
  padding: 2rem 0;
}
.character .char-info .char-title h3 {
  color: #D5D3D3;
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem !important;
}
.character .char-info .char-title h4 {
  color: #752626;
  font-weight: 300;
  font-size: 2rem !important;
  text-transform: uppercase;
}
.character .char-info .char-traits {
  grid-area: traits;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  text-transform: uppercase;
}
.character .char-info .perception {
  grid-area: perception;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  align-self: center;
  width: fit-content;
}
.character .char-info .perception p {
  color: #D5D3D3;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
}
.character .char-info .perception .number {
  font-size: 3rem;
  font-weight: 900;
  margin: auto;
}

.detail-accordion {
  grid-area: button;
  background-color: rgba(213, 211, 211, 0.1);
  border: none;
  color: #D5D3D3;
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  width: 100%;
}
.detail-accordion::after {
  content: "\f078";
  font-family: "FontAwesome";
  margin-left: 1rem;
}

.details {
  grid-area: details;
}

.accordion-info {
  display: none;
  margin-bottom: 3rem;
  width: 100%;
}

.ability-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.ability-scores .score-box {
  text-align: center;
  width: 100px;
  border: 0.2rem solid #D5D3D3;
}
.ability-scores .score-box h5 {
  background-color: #D5D3D3;
  color: #131C25;
  padding: 0.5rem;
}
.ability-scores .score-box .ability-modifier {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
}
.ability-scores .score-box .score {
  background-color: #752626;
  border: none;
  color: #D5D3D3;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.4rem;
  width: 100%;
  text-align: center;
}

.char-lists {
  display: grid;
  grid-template-columns: 50% 50%;
}
.char-lists .list {
  padding: 1rem;
}
.char-lists .list h3 {
  background-color: #D5D3D3;
  color: #131C25;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  width: fit-content;
}
.char-lists .list ul {
  list-style-type: square;
  padding-left: 2rem;
}

/* NPCS */
.name-container {
  width: 90%;
  margin: 2rem 0 2rem 4rem;
}
.name-container h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.name-container .name-list {
  columns: 5;
  list-style-type: none;
}
.name-container .name-list li {
  padding-bottom: 1rem;
}

/* NPCS */
.maps h2 {
  margin-bottom: 2rem;
}

/* MUSIC */
.music-list {
  display: grid;
  grid-template-columns: 50% 50%;
}
.music-list ul {
  padding-left: 2rem;
  color: #D5D3D3;
  display: block;
  width: fit-content;
  list-style-type: none;
  columns: 2;
}
.music-list ul li {
  font-size: 0.8rem;
  padding: 0.4rem 1rem 0.3rem;
  margin-bottom: 0.8rem;
  background-color: #D5D3D3;
  color: #131C25;
  border-radius: 50%;
  text-align: center;
  border-radius: 1rem;
  vertical-align: middle;
  opacity: 0.6;
  width: 150px;
}
.music-list ul li:active {
  opacity: 1;
}
.music-list ul .active {
  background-color: #008F88;
  opacity: 1;
}

li.category {
  padding: 0.2rem 0;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 5%;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: fit-content;
}

/*# sourceMappingURL=main.css.map */
