@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

// COLORS

$main: #131C25;
$support: #752626;
$alt1: #008F88;
$alt2: #D5D3D3;

// 

// FONTS

$font-a: 'Roboto', sans-serif;
$font-b: 'Roboto Slab', serif;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-a;
  color: $alt2;
  transition: all 1s ease-in-out;
}
h1, h2 {
  text-transform: uppercase;
  letter-spacing: .4rem;
}
h1 {
  font-family: $font-b;
  margin-bottom: 2rem;
  border-bottom: .2rem solid #752626;
  width: 100%;
  padding: 1rem;
  padding-top: 4rem;
}
h2 {
  font-weight: 200;
}
dt {
  color: $alt1;
  font-family:$font-b;
  font-weight: 800;
  margin: 1rem 0 .5rem;
}
dd {
  margin-bottom: 1rem;
}
main {
  // display: grid;  
  // grid-template-areas: "main-content main-nav";
  // grid-template-columns: 70% 30%;
  background-color: $main;
  color: $alt2;
}
hr {
  opacity: .4;
  width: 80%;
  margin: 3rem auto 2rem;
}
iframe {
  display: block;
  width:90%;
  height: 75vh;
  margin: 0 auto;
  border: none !important;
}
.color-main {
  color: $main;
}
.color-support {
  color: $support;
}
.color-alt1 {
  color: $alt1;
}
.color-alt2 {
  color: $alt2;
}
.top-nav {
  align-items: right;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100%;
}
.dnd-links {
  background-color: $support;
  position: fixed;
  top: 0;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  .active {
    background-color: $main;
  }
  li {
    a {
      align-items: center;
      width: fit-content;
      text-decoration: none;
      padding: 1.2rem;
      margin: 0;
      color: $alt2;
      font-size: .8rem;
      font-family: $font-a;
      font-weight: 600;
      letter-spacing: .2rem;
      max-width: 100px;
      text-transform: uppercase;
    }
  }
}

.music-player {
  align-items: center;
  display: flex;
  background-color: $main;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5rem;
  z-index: 1000;
  h5 {
    color: $alt1;
    font-size: 1.5rem;
    font-family: $font-b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    vertical-align: middle;
  }
  audio {
    width: 50%;
    text-align: center;
  }
 }

.container {
  margin: 1rem auto;
  width: 90%;
  display: block;
  margin-bottom: 8rem;
}
/* STORY */
.story {
  .detail-accordion {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    &::after {
      margin-left: 1rem;
    }
  }
  p {
    padding-bottom: 1rem;
  }
}
.campaign-checklist {
    margin-top: 1em;
  .checked {
    text-decoration: line-through;
  }
  label {
    display: block;
    padding: .3rem;
    input[type="checkbox"] {
      appearance: none;
      background-color: transparent;
      margin: 0 1rem 0 0;
      color: $alt1;
      width: 1rem;
      height: 1rem;
      border: .2rem solid $support;
      border-radius: 0;
      vertical-align: middle;
      place-content: center;
    }
    input[type="checkbox"]:checked {
      background-color: $support;
    }
  }
}
.sessions {
  h3 {
    font-family: $font-b;
    margin: 1rem 0;
  }
  h4 {
    text-transform: uppercase;
  }
  p{
    line-height: 1.6;
    letter-spacing: .02rem;
  }
  .session-notes {
    background-color: rgba($color: $alt1, $alpha: 0.1);
    padding: 0.2rem 1rem;
    margin-bottom: .5rem;
  }
  .setting-notes {
    background-color: rgba($color: $support, $alpha: 0.3);
    padding: 0.2rem 1rem;
    margin-bottom: .5rem;
  }
}

/* PLAYERS */
.character {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 5% 10%;
  grid-template-areas: "image char-info"
                        "button button"
                        "details details";
  padding: 4rem 0 3rem;
  img {
    grid-area: image;
    background-color: rgba(0,0,0,.5);
  }
  .fullscreen-image {
    cursor: pointer;
  }
  
  .fullscreen-image.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
  }
  .char-info {
    grid-area: char-info;
    display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 10%;
    grid-template-areas: "title perception"
                          "traits perception";
    .char-title {
      grid-area: title;
      justify-content: space-between;
      h3{
        color: $alt2;
        font-family: $font-b;
        font-size: 2.5rem !important;
      }
      h4 {
        color: $support;
        font-weight: 300;
        font-size: 2rem !important;
        text-transform: uppercase;
      }
    }
    .char-traits { 
      grid-area: traits;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      text-transform: uppercase;
    }
    .perception {
      grid-area: perception;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1rem;
      align-self: center;
      width: fit-content;
      p {
        color: $alt2;
        font-size: .7rem;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: 700;
        text-align: center;
      }
      .number {
        font-size: 3rem;
        font-weight: 900;
        margin: auto;
      }
    }
  }
}
.detail-accordion {
  grid-area: button;
  background-color: rgba($color: $alt2, $alpha: .1);
  border: none;
  color: $alt2;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  width: 100%;
  h2 {
    display: inline-block;
  }
  &::after {
    content: "\f078";
    display: inline;
    font-family: 'FontAwesome';
    margin-left: 1rem;
    vertical-align: text-top;
  }
}
.details {
  grid-area: details;
}
// ability-scores
.accordion-info {
  display: none;
  margin-bottom: 3rem;
  width: 100%;
}
.ability-scores {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 1rem;
 width: 100%;
 .score-box {
  text-align: center;
  width: 100px;
  border: .2rem solid $alt2;
  h5 {
    background-color: $alt2;
    color: $main;
    padding: .5rem;
  }
  .ability-modifier {
    font-family: $font-b;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;
  }
  .score {
    background-color: $support;
    border: none;
    color: $alt2;
    font-family: $font-a;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .4rem;
    width: 100%;
    text-align: center;
  }
 }
}
// Important items & Features
.char-lists {
display: grid;
grid-template-columns: 50% 50%;
  .list {
    padding: 1rem;
    h3 {
      background-color: $alt2;
      color: $main;
      padding: .3rem 1rem;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: .3rem;
      width: fit-content;
    }
    ul {
      list-style-type:square; 
      padding-left: 2rem;
    }
  }
}

/* NPCS */
.npc-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
  margin-bottom: 3rem;
}
.npc-character {
 h3{
  font-family: $font-b;
  font-weight: 800;
  margin-bottom: .4rem;
  font-size: 1.8rem;
 }
 h4{
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .6rem;
 }
}
.npc-desc-list {
 p {
  margin-bottom: .5rem;
  line-height: 1.4;
 }
}
.name-container {
  width: 90%;
  margin: 2rem 0 2rem 4rem;
  .detail-accordion{
    margin-bottom: 1rem;
    background-color: transparent;
  }
  h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .name-list {
    columns: 5;
    list-style-type: none;
    li {
      padding-bottom: 1rem;
    }
  }
}
/* NPCS */
.maps {
  h2 {
    margin-bottom :2rem;
  }
}
/* MUSIC */
.music-list {
  display: grid;
  grid-template-columns: 50% 50%;
   .lt-column, .rt-column {
    padding-left: 2rem;
    color: $alt2;
    display: block;
    width: fit-content;
    list-style-type: none;
    .category {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .2rem;
      .category-title {
        align-items: center;
        display: grid;
        grid-template-columns: 10% 85%;
        gap: 5%;
        padding: .2rem 0;
        margin-bottom: .5rem;
        height: fit-content;
      }
      ul {
        columns: 2;
        .song-button {
          font-size: .8rem;
          padding: .4rem 1rem .3rem;
          margin-bottom: .8rem;
          background-color: $alt2;
          color: $main;
          border-radius: 50%;
          text-align: center;
          border-radius: 1rem;
          vertical-align: middle;
          opacity: .6;
          width: 150px;
          &:active {
            opacity: 1;
          }
        }
        .active {
          background-color: $alt1;
          opacity: 1;
        }
      }
    }
  }
}